[Unit]
Description=Dating Telegram Bot Service
After=network.target

[Service]
Type=simple
User=ross
WorkingDirectory=/home/ross/dev/bots/dating_bot
Environment=PATH=/home/ross/dev/bots/dating_bot/venv/bin
ExecStart=/home/ross/dev/bots/dating_bot/venv/bin/python bot.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target 
